*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:#F8FAFC;
  color:#1F2937;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  font-family:'Poppins',sans-serif;
}

img{
  max-width:100%;
  display:block;
}