.products-page{
    padding:50px 70px;
}

.products-header{
    margin-bottom:35px;
}

.products-header h1{
    font-size:42px;
    color:#1E3A8A;
}

.products-header p{
    margin-top:10px;
    color:#6B7280;
}

.filters{

    display:flex;

    gap:20px;

    margin:40px 0;
}

.filters input{

    flex:1;

    padding:15px;

    border:1px solid #D1D5DB;

    border-radius:10px;

    font-size:16px;
}

.filters select{

    padding:15px;

    border-radius:10px;

    border:1px solid #D1D5DB;
}

.products-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:30px;
}